<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/COP5536_SP17_Project/src/com/decode/Unpack.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.decode.Unpack"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="F:\\UF\\Semester2\\ads\\Project\\sample2\\test.bin"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="COP5536_SP17_Project"/>
</launchConfiguration>
